.idea/.gitignore
.idea/indexLayout.xml
.idea/vcs.xml
C#/simple_array_sum/simple_array_sum.csproj
C#/simple_array_sum/simple_array_sum.sln
C#/simple_array_sum/.idea/.idea.simple_array_sum/.idea/.gitignore
C#/simple_array_sum/.idea/.idea.simple_array_sum/.idea/indexLayout.xml
C#/simple_array_sum/.idea/.idea.simple_array_sum/.idea/vcs.xml
C#/simple_array_sum/obj/project.assets.json
C#/simple_array_sum/obj/project.nuget.cache
C#/simple_array_sum/obj/project.packagespec.json
C#/simple_array_sum/obj/rider.project.restore.info
C#/simple_array_sum/obj/simple_array_sum.csproj.nuget.dgspec.json
C#/simple_array_sum/obj/simple_array_sum.csproj.nuget.g.props
C#/simple_array_sum/obj/simple_array_sum.csproj.nuget.g.targets
C#/simple_array_sum/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
C#/simple_array_sum/obj/Debug/net8.0/simple_array_sum.AssemblyInfo.cs
C#/simple_array_sum/obj/Debug/net8.0/simple_array_sum.AssemblyInfoInputs.cache
C#/simple_array_sum/obj/Debug/net8.0/simple_array_sum.assets.cache
C#/simple_array_sum/obj/Debug/net8.0/simple_array_sum.GeneratedMSBuildEditorConfig.editorconfig
C#/simple_array_sum/obj/Debug/net8.0/simple_array_sum.GlobalUsings.g.cs
